
body
{
    background-image:url(public/assets/images/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#head
{
    width:100%;
    height:200px;
    background-image: url(public/assets/images/head.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#head img
{
    top:0;
    left:0;
    float:left;
    padding: 20px;
    width: 120px;

}

#head h1
{
    vertical-align: baseline;
    color: coral;
    vertical-align: middle;
    float: right;
    font-size: 70px;
    
}

.container
{
    border: 10px solid navy;
    border-radius: 10px;
    width:50%;
    float: left;
    margin: 10px;
    height: 200px;
}

